@model ChallengeFormModel

<div class="row"> 
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6"> 
        <form method="post"> 
            <div class="form-group">
                <label asp-for="Title"></label> 
                <input asp-for="Title" class="form-control" placeholder="Title..."> 
                <span asp-validation-for="Title" class="small text-danger"></span> 
            </div> 
            <div class="form-group"> 
                <label asp-for="Description"></label> 
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Description..."></textarea> 
                <span asp-validation-for="Description" class="small text-danger"></span> 
            </div> 
            <div class="form-group">
                <label>Upload your video...</label>
                <input type="file" name="video">
            </div>
            <div class="form-group">
                <label asp-for="Duration" class="form-label-add-edit">Duration</label>
                <input asp-for="Duration" class="form-control" placeholder="30-180 min" />
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Start" class="form-label-add-edit">Start date</label>
                <input asp-for="Start" class="form-control" aria-required="true" placeholder="dd/MM/yyyy HH:mm" )" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="End" class="form-label-add-edit">End date</label>
                <input asp-for="End" class="form-control" aria-required="true" placeholder="dd/MM/yyyy HH:mm" )" />
                <span asp-validation-for="End" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="CategoryId"></label> 
                <select asp-for="CategoryId" class="form-control"> 
                    @foreach (var category in Model.Categories) 
                    { 
                        <option value="@category.Id">@category.Name</option> 
                    } 
                </select> 
                <span asp-validation-for="CategoryId" class="small text-danger"></span> 
            </div> 
            <div class="text-center"> 
                <input class="btn btn-primary mt-3" type="submit" value="Save" /> 
            </div> 
        </form> 
    </div> 
</div>

































