<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Challenge" asp-action="All">DashBoard</a>
    </li>
    @if(this.User?.Identity?.IsAuthenticated??false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Challenge" asp-action="Mine">My Challenges</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Trainer" asp-action="TrainerInfo">Trainers</a>
        </li>
    }
</ul>
